<!-- Obtener valores de la url -->

<h1> {{(heroe.id)?"Editar":"Nuevo"}} Heroe <small>{{heroe.superhero}}</small></h1>


<div    fxLayout="row" 
        fxLayout.xs="column" 
        fxLayoutGap="40px">
    <div fxFlex="50" fxLayout="column">
        
        <div    fxLayout="row" 
                fxLayout.xs="column"
                fxLayoutGap="20px">
            <mat-form-field  fxFlex="100"  fxLayout.xs="column">
                <mat-label>Super Heroe</mat-label>
                <input [(ngModel)]="heroe.superhero" type="text" matInput required>
            </mat-form-field>
    
            <mat-form-field  fxFlex="100">
                <mat-label>Alter Ego</mat-label>
                <input [(ngModel)]="heroe.alter_ego"  type="text" matInput required>
            </mat-form-field>
        </div>

        <mat-form-field >
            <mat-label>Primera Aparicion</mat-label>
            <input [(ngModel)]="heroe.first_appearance" type="text" matInput required>
        </mat-form-field>

        <mat-form-field >
            <mat-label>Personaje</mat-label>
            <input [(ngModel)]="heroe.characters" type="text" matInput required>
        </mat-form-field>


        <mat-form-field >
            <mat-label>Creador</mat-label>
            <mat-select required  [(ngModel)]="heroe.publisher">
                <mat-option *ngFor="let item of publisher" [value]="item.description" id="item.id">{{item.description}}</mat-option>
            </mat-select>
        </mat-form-field>


        
        <mat-form-field >
            <mat-label>Imagen URL</mat-label>
            <input  [(ngModel)]="heroe.alt_img" type="url" matInput required>
        </mat-form-field>
        
        <br>

        <div fxLayout>
            <button mat-raised-button color="primary" (click)="guardar()">
                <mat-icon>edit</mat-icon>
                {{(heroe.id)?"Actualizar":"Crear"}}
            </button>
            <span class="spacer"></span>
            <button
                *ngIf="heroe.id" 
                mat-raised-button color="warn"
                (click)="borrar()"
                >
                <mat-icon>remove</mat-icon>
                Borrar
            </button>
        </div>


    </div>

    <div fxFlex="50">
        <img [src]="heroe | imagen">
    </div>
</div>
